{% extends "base.html" %}
{% block title %} Settings {% endblock %} 

{% block content %}
<div class="container mt-5">
    <h1>Einstellungen ⚙️</h1>
        <!-- Profilbild -->
    <h2 class="mt-4">Profilbild</h2>
    {% if request.user.profile_picture %}
    <img src="{{ request.user.profile_picture.url }}" alt="Profilbild" class="img-thumbnail mb-3" style="max-width: 200px;">
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ profile_picture_form.as_p }}
        <button type="submit" name="change_profile_picture" class="btn btn-primary">Profilbild speichern</button>
    </form>

    <!-- Design-Einstellungen -->
    <h2 class="mt-4">Design anpassen</h2>
    <form method="post" class="mb-4">
        {% csrf_token %}
        {{ settings_form.as_p }}
        <button type="submit" name="change_design" class="btn btn-primary">Design speichern</button>
    </form>
       
    
    <!-- Benutzername und E-Mail ändern -->

    <h2 class="mt-4">Benutzername und E-Mail ändern</h2>
    <form method="post" class="mb-4">
        {% csrf_token %}
        <p>{{ user_form.username.label_tag }} </p>
        <p>  {{ user_form.username }}</p>
        <p>{{ user_form.email.label_tag }} </p>
        <p>   {{ user_form.email }}</p>
        <button type="submit" name="change_username_email" class="btn btn-primary">Änderungen speichern</button>
    </form>

    <!-- Passwort ändern -->
    <h2 class="mt-4">Passwort ändern</h2>
    <form method="post" class="mb-4">
        {% csrf_token %}
        {{ password_form.as_p }}
        <button type="submit" name="change_password" class="btn btn-primary">Passwort speichern</button>
    </form>

    <!-- Familienmitglieder  -->
     <div class="row">
        <div class="col-md-3">

     
    <h2 class= "mt-4">Deine Familienmitglieder:</h2>
    
    <ul class="list-group">
        {% for member in family_members %}
        <li class="list-group-item">{{ member.username }}</li>
        {% empty %}
        <li class="list-group-item">Keine Familienmitglieder hinzugefügt.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'add-family-member' %}" class="btn btn-primary mt-3">Familienmitglied hinzufügen</a>
</div>
</div>
    
</div>
{% endblock %}